<!DOCTYPE html>
<html>

  <%= @property.name%>
  <br>
  Description: <%= @property.description%>
  <br>
  <% if @current_user.id == @property.user_id %>
      <p>You cannot book your own property</p>
      <p><a href="javascript:history.back()">Click here to go back</a></p>
  <% else %>
  Cost per night: £<%= @property.cpn%>
  <br>
  Available from: <%= @availability.first.start_date%>
  <br>
  Available to: <%= @availability.first.end_date%>

  
  <form action="/book/success" method="post">
    <input type="hidden" name="user_id" value="<%= @current_user.id %>">
    <input type="hidden" name="property_id" value="<%= @property.id %>">
    <input type="hidden" name="owner_id" value="<%= @property.user_id %>">
    <input type="date" name="start_date" id="startDate"/>
    <input type="date" name="end_date" id="endDate"/>
    <input type="submit" value="Request booking"/>
    <% end %>
  </form>
  </html>
