<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/css/style.css" >
  </head>
  <body>
    <div class="grid-container">
      <div id="menu">
        <div class=logo_and_title>
          <img src="images/logo_dark-on-light.svg">
          <a href='/'>INN COGNITO</a>
          <a>▸</a>
          <a href='/'>PROPERTIES</a>
        </div>
      <div class="message_and_options">
        <%if @current_user %>
        <p><%="Logged in as <b>#{@current_user.name}</b>"%></p>
        <form action="/sign-out" method="post">
          <input type="submit" value="Sign out" />
        </form>
        <form action="/account/manage-bookings" method="get">
          <input type="submit" value="View Booking Requests"/>
        </form>
        <% else %>
        <form action="/sign-in" method="get">
          <input type="submit" value="Sign in" />
        </form>
        <form action="/sign-up" method="get">
          <input type="submit" value="Sign up" />
        </form>
        <% end %>
      </div>
    </div>
    <div id="properties">
      <form action="/" method="get">
        <p class="sortBy">Sort By</p>
        <select class="select-css" id="sort" name="sort">
          <option id='sort-all'>All</option>
          <option value="recent" id='sort-recent'>Most recent</option>
          <option value="price" id='sort-price'>Price (Lowest to Highest)</option>
        </select>
      </form>
      <%if @current_user%>
        <form action="/account/add-property" method="get">
          <input type="submit" value="Add New Property">
        </form>
      <%end%>
      <% @properties.each do |property| %>
        <div tabindex="1" class="property">
          <h3><%= property.name%></h3>
          <p class="propert-desc"><%= property.description%></p>
          <% Property.find_images(id: property.id).each do |photo| %>
          	<img src=<%= photo %> />
          <% end %>
          <div class="property-book">
            <p>£<%= property.cpn%> per night</p>
            <% if @current_user %>
              <form action="/book/<%= property.id %>" method="get">
                <input type="submit" value="Book">                
              </form>                                        
            <% else %>
              <form action="/sign-in" method="get">
                <input type="submit" value="Sign in to book">
              </form>
            <% end %>
          </div>
        </div>
      <%end%>
  </div>
    </div>
   </div>
    <%= flash[:notice] %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="src/interface.js"></script>
  </body>
<html>
