<!DOCTYPE html>
<html>

  <%= @property.name%>
  <br>
  Description: <%= @property.description%>
  <br>
  Cost per night: £<%= @property.cpn%>
  <br>
  Available from: <%= @availability.first.start_date%>
  <br>
  Available to: <%= @availability.first.end_date%>

  
  <form action="/properties/requests" method="post">
    <input type="hidden" name="user_id" value="<%= @current_user.id %>">
    <input type="hidden" name="property_id" value="<%= @property.id %>">
    <input type="hidden" name="owner_id" value="<%= @property.user_id %>">
    <input type="text" name="start_date" id="startDate"/>
    <input type="text" name="end_date" id="endDate"/>
    <select id="duration" name="duration">
      <option value="1">1 night</option>
      <option value="2">2 night</option>
      <option value="3">3 night</option>
      <option value="4">4 night</option>
      <option value="5">5 night</option>
      <option value="6">6 night</option>
      <option value="7">7 night</option>
    </select>
    <% if @current_user.id == @property.user_id %>
      You cannot book your own property
    <% else %>
      <input type="submit" value="Request booking"/>
    <% end %>
  </form>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="../../lib/booking.rb"></script>
  <script>
      $( "#startDate" ).datepicker({ dateFormat: 'yy-mm-dd 00:00:00' });
      $( "#endDate" ).datepicker({ dateFormat: 'yy-mm-dd 00:00:00'});
  </script>
  </html>
