<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/css/style.css" >
  </head>
  <body>
    
    <div class="grid-container">
    
    <div id="menu">
      <div class=logo_and_title>
        <img src="images/logo_dark-on-light.svg">
        <h1>INN COGNITO</h1>
      </div>
      <div class="message_and_options">
        <%if @user %>
        <p><%="Logged in as <b>#{@user.name}</b>"%></p>
        <form action="/sessions/destroy" method="post">
          <input type="submit" value="Sign out" />
        </form>
        <form action="/view-requests" method="get">
          <input type="submit" value="View Booking Requests"/>
        </form>
        <% else %>
        <form action="/sign-in" method="get">
          <input type="submit" value="Sign in" />
        </form>
        <form action="/sign-up" method="get">
          <input type="submit" value="Sign up" />
        </form>
        <% end %>
      </div>
    </div>

  <div id="properties">
      <form action="/properties-sort" method="get">
      <p class="sortBy">Sort By</p>
        <select class="select-css" id="sort" name="sort">
          <option>All</option>
          <option value="recent">Most recent</option>
          <option value="price">Price (Lowest to Highest)</option>
        </select>
      </form>
      <% @properties.each do |property| %>
        <div class="property">
          <h3><%= property.name%></h3>
          <p class="propert-desc"><%= property.description%></p>
          <div class="property-book">
            <p>£<%= property.cpn%> per night</p>
            <% if @user %>
              <form action="/properties/<%= property.id %>" method="get">
                <input type="submit" value="Book">                
              </form>                                        
            <% else %>
              <form action="/sign-in" method="get">
                <input type="submit" value="Sign in to book">
              </form>
            <% end %>
          </div>
        </div>
      <%end%>
    <%if @user%>
      <form action="/properties/new" method="get">
        <input type="submit" value="Add New Property">
      </form>
    <%end%>
  </div>
    </div>
    </div>
  </body>

  <%= flash[:notice] %>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script>
    $(document).ready(function(){
      $(function(){
        $('#sort').change(function(){
          this.form.submit();
        })
      })
    })
  </script>
<html>
