<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/public/inncognito.css" >
  </head>
  <nav>
  </nav>
  <body>
    <header>
      <form action="/sign-in" method="get">
        <input type="submit" value="Sign in" />
      </form>
      <form action="/sign-up" method="get">
        <input type="submit" value="Sign up" />
      </form>
      <form action="/sessions/destroy" method="post">
        <input type="submit" value="Sign out" />
    </form>
  
  <h2>
      <%= flash[:notice] %>
  </h2>

    </header>
<h1>Welcome to Inn Cognito</h1>
<h2><%= if @user then "Welcome, #{@user.name}" end%></h2>
  
    <form action="/properties-sort" method="get">
      <select id="sort" name="sort">
        <option>All</option>
        <option value="recent">Most recent</option>
        <option value="price">Price (Lowest to Highest)</option>
      </select>
    </form>
  <%if @user%>
    <form action="/properties/new" method="get">
      <input type="submit" value="New Property">
    </form>
  <%end%>
    <% @properties.each do |property| %>
      <ul>
        <b><%= property.name%></b>
        <li><%= property.description%></li>
        <li><%= property.cpn%></li>
        <%if @user%>
          <form action="/properties/<%= property.id %>" method="get">
            <input type="submit" value="Book">
          </form>
        <%else%> 
          <form action="/sign-in" method="get">
            <input type="submit" value="Sign in" />
          </form>
        <%end%>  
      </ul>
    <%end%>
  </body>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script>
    $(document).ready(function(){
      $(function(){
        $('#sort').change(function(){
          this.form.submit();
        })
      })
    })
  </script>
<html>
