<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/css/style.css" >
	</head>
	<body>
    <form action="/account/manage-bookings/:id" method="post">
    <input type="hidden" name="id" value="<%=@property.id%>" >
			<p>Property name: <%= @property.name %></p>
			<input type="text" name="name">
			<br>
			<p>Property description: <%= @property.description %></p>
			<input type="text" name="description">
			<br> 
			<p>Cost per night: £<%= @property.cpn %></p>
			<input type="text" name="cpn">
			<br>
      <p>Availability start date: <%= Availability.date_format(@availability.first.start_date) %></p>
      <input type="date" name="start_date" placeholder="start of availability">
      <br>
      <p>Availability end date: <%= Availability.date_format(@availability.first.end_date) %></p>
      <input type="date" name="end_date" placeholder="end of availability">
      <br>
      <br>
			<input type="submit" value="Submit">
		</form>
	</body>
</html>