<div>
	<form action="/" method="get">
		<input type="submit" value="Back to properties">
	</form>
	<p>My property requests:
    <p>You currently have <%= @bookings.count %> property request<%= "s" if @bookings.count == 0 || @bookings.count > 1%>
    <section>
    <% if @properties.count != 0 %>
    <% @bookings.each_with_index do |booking, i| %>
      <%= @bookings.delete_at(i) if booking.approval != Booking::PENDING %>
        <div class="block">
          <p><b>Guest name: <%= User.find(id: booking.user_id).name %></b><p>
          <p>Property name: <%= Property.find(id: booking.property_id).name %></p>
          <p>Check in: <%= Booking.date_format(booking.start_date)%></p>
          <p>Check out: <%= Booking.date_format(booking.end_date)%></p>
        </div>
        <form action="/account/approve-booking" method="post">
          <input type="hidden" name="booking_id" value="<%= booking.id %>">
          <input type="submit" value="Approve">
        </form>
        <form action="/account/reject-booking" method="post">
          <input type="hidden" name="booking_id_2" value="<%= booking.id %>">
          <input type="submit" value="Reject">
        </form>
        <% end %>
      <% end %>   
    </section>
    <section>
      <p>My properties:
      <p>Your current number of properties: <%= @properties.count %>
      <% @properties.each do |property| %>
        <div class="block">
          <p><b><%= property.name%></b></p>
          <p><%= property.description%></p>
          <p>£<%= property.cpn%> per night</p>
          <form action="/account/manage-bookings/<%= property.id %>" method="get">
            <input type="submit" value="Edit">
          </form>
        </div>
      <%end%>
    </section>
    <section>
      <p>My booking requests:
      <% counter = 0 %>
      <% @requests.each do |request| %>
        <% counter += 1 if request.approval == Booking::PENDING %>
      <% end %>
      <p>You currently have <%= counter %> pending booking request<%= "s" if counter == 0 || counter > 1%>
    </section>
    <section>
      <p>My bookings:
        <% @requests.each do |request| %>
          <% if request.approval == Booking::APPROVED %>
            <div class="block">
              <p>Property name: <%= Property.find(id: request.property_id).name %></p>
              <p>Check in: <%= Booking.date_format(request.start_date)%></p>
              <p>Check out: <%= Booking.date_format(request.end_date)%></p>
            </div>
          <% end %>   
        <% end %>
    </section>
</div>
