<div>
	<form action="/" method="get">
		<input type="submit" value="Back to properties">
	</form>
	<p>My requests:
    <p>You currently have <%= @bookings.count %> booking request<%= puts 's' if @bookings.count > 0 %>
    <section>
    <% if @properties.count != 0 %>
					<p>My booking requests:
						<% @bookings.each do |booking| %>
							<div class="block">
								<p><b><%= booking.user_id%></b><p>
								<p><%= booking.property_id%></p>
								<p><%= booking.start_date%></p>
								<p><%= booking.end_date%></p>
							</div>
							<form action="/account/approve-booking" method="post">
								<input type="hidden" name="booking_id" value="<%= booking.id %>">
								<input type="submit" value="Approve">
							</form>
							<form action="/account/reject-booking" method="post">
								<input type="hidden" name="booking_id_2" value="<%= booking.id %>">
								<input type="submit" value="Reject">
							</form>
							<% end %>
						<%end%>
    </section>
			<section>
				<p>My properties:
					<p>You currently have <%= @properties.count %> advertised properties </p>
					<% @properties.each do |property| %>
						<div class="block">
							<p><b><%= property.name%></b></p>
							<p><%= property.description%></p>
							<p>£<%= property.cpn%></p>
							<form action="/account/manage-bookings/<%= property.id %>" method="get">
								<input type="submit" value="Edit">
							</form>
						</div>
					<%end%>
				</section>
				</div>
